html {
  scroll-behavior: smooth;
}

body {
  color: getColor('basic-white');
  font-family: $font, sans-serif;
  background-image: url('../images/body/bg-icecreem-480.svg');

  @include mq(tablet) {
    background-image: url('../images/body/bg-icecreem-768.svg');
  }

  @include mq(desktop) {
    background-image: url('../images/body/bg-icecreem-1200.svg');
  }
}
