@import '~node_modules/modern-normalize/modern-normalize.css';
@-webkit-keyframes card-slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes card-slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
@-webkit-keyframes card-pic-slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(11px);
  }
}
@keyframes card-pic-slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(11px);
  }
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/Inter/Inter-VariableFont.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../fonts/Montserrat/Montserrat-VariableFont.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Seymour_One/SeymourOne-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

button {
  cursor: pointer;
}

label {
  display: block;
  margin: 0;
}

input {
  display: block;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  background-color: #84a178;
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #131313;
}

.products__container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products__container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .products__container {
    max-width: 1200px;
    padding: 0 16px;
  }
}

.products__label {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
  .products__label {
    font-style: normal;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
@media only screen and (min-width: 1200px) {
  .products__label {
    font-style: normal;
    font-size: 30px;
    line-height: 0.9;
    letter-spacing: 0.04em;
  }
}

.products__title {
  font-style: normal;
  font-size: 30px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 148px;
  font-family: "Seymour One" sans-serif;
}
@media only screen and (min-width: 768px) {
  .products__title {
    font-style: normal;
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.04em;
  }
}
@media only screen and (min-width: 1200px) {
  .products__title {
    font-style: normal;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.04em;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 168px 168px;
}
.products__list > [class*=__item] {
  flex-basis: calc((100% - 0px) / 1);
}
@media only screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 168px 16px;
  }
  .products__list > [class*=__item] {
    flex-basis: calc((100% - 32px) / 3);
  }
}
@media only screen and (min-width: 1200px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 168px 29px;
  }
  .products__list > [class*=__item] {
    flex-basis: calc((100% - 58px) / 3);
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 123px 40px 16px 40px;
  border-radius: 24px;
  transition: transform 300ms ease-in-out;
}
@media only screen and (min-width: 768px) {
  .products__item {
    padding: 108px 26px 12px;
    border-radius: 16px;
  }
  .products__item:hover {
    transform: translateY(-30px);
  }
  .products__item:hover::after {
    transform: translateY(-50%) translateX(-50%);
  }
}
@media only screen and (min-width: 1200px) {
  .products__item {
    padding: 165px 64px 60px;
  }
}
.products__item::after, .products__item::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 300ms ease-in-out;
}
.products__item::after {
  transform: translateY(calc(-50% - 11px)) translateX(-50%);
}
.products__item::before {
  transform: translateY(-50%) translateX(-50%);
  border-radius: 50%;
}

.products__item--ice-cream {
  background-color: #aec6a5;
}
.products__item--ice-cream::after {
  background-image: url(../images/products/ice-cream-320@1x.png);
}
@media only screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--ice-cream::after {
    background-image: url(../images/products/ice-cream-320@2x.png);
  }
}
@media only screen and (min-width: retina) {
  .products__item--ice-cream::after {
    background-image: url(../images/products/ice-cream-320@2x.png);
  }
}
@media only screen and (min-width: 1200px) {
  .products__item--ice-cream::after {
    background-image: url(../images/products/ice-cream-1200@1x.png);
  }
}
@media only screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-resolution: 192dpi), only screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--ice-cream::after {
    background-image: url(../images/products/ice-cream-1200@2x.png);
  }
}
@media only screen and (min-width: 1200px) and (min-width: retina) {
  .products__item--ice-cream::after {
    background-image: url(../images/products/ice-cream-1200@2x.png);
  }
}
.products__item--ice-cream::before {
  background-color: #aec6a5;
  box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
}

.products__item--ice-coffee {
  background-color: #efd478;
}
.products__item--ice-coffee::after {
  background-image: url(../images/products/ice-coffee-320@1x.png);
}
@media only screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--ice-coffee::after {
    background-image: url(../images/products/ice-coffee-320@2x.png);
  }
}
@media only screen and (min-width: retina) {
  .products__item--ice-coffee::after {
    background-image: url(../images/products/ice-coffee-320@2x.png);
  }
}
@media only screen and (min-width: 1200px) {
  .products__item--ice-coffee::after {
    background-image: url(../images/products/ice-coffee-1200@1x.png);
  }
}
@media only screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-resolution: 192dpi), only screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--ice-coffee::after {
    background-image: url(../images/products/ice-coffee-1200@2x.png);
  }
}
@media only screen and (min-width: 1200px) and (min-width: retina) {
  .products__item--ice-coffee::after {
    background-image: url(../images/products/ice-coffee-1200@2x.png);
  }
}
.products__item--ice-coffee::before {
  background-color: #efd478;
  box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
}

.products__item--milkshakes {
  background-color: #d6936d;
}
.products__item--milkshakes::after {
  background-image: url(../images/products/milkshakes-320@1x.png);
}
@media only screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--milkshakes::after {
    background-image: url(../images/products/milkshakes-320@2x.png);
  }
}
@media only screen and (min-width: retina) {
  .products__item--milkshakes::after {
    background-image: url(../images/products/milkshakes-320@2x.png);
  }
}
@media only screen and (min-width: 1200px) {
  .products__item--milkshakes::after {
    background-image: url(../images/products/milkshakes-1200@1x.png);
  }
}
@media only screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1200px) and (min-resolution: 192dpi), only screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--milkshakes::after {
    background-image: url(../images/products/milkshakes-1200@2x.png);
  }
}
@media only screen and (min-width: 1200px) and (min-width: retina) {
  .products__item--milkshakes::after {
    background-image: url(../images/products/milkshakes-1200@2x.png);
  }
}
.products__item--milkshakes::before {
  background-color: #d6936d;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.products__subtitle {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .products__subtitle {
    font-style: normal;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
@media only screen and (min-width: 1200px) {
  .products__subtitle {
    font-style: normal;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    margin-bottom: 66px;
  }
}

.products__text {
  margin-bottom: 50px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.04em;
  color: #131313;
}
@media only screen and (min-width: 1200px) {
  .products__text {
    font-style: normal;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}

.gallery {
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  background-image: url(../src/images/gallery/backgroud_mobile.jpg);
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 16px;
  }
}

.swiper {
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.swiper-slide {
  margin-top: -98px;
}

.swiper-slide img {
  width: 280px;
  height: 130px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .swiper-slide img {
    width: 280px;
    height: 130px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.swiper {
  --swiper-theme-color: #84a178;
  width: 600px;
  height: 300px;
}

.products__btn {
  padding: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: none;
}
.products__btn .products__icon {
  width: 40px;
  height: 16px;
}/*# sourceMappingURL=index.css.map */