$font: 'Montserrat';

$bg-colors: (
  'ice-cream': #aec6a5,
  'ice-coffee': #efd478,
  'milkshakes': #d6936d,
);

$shadow-colors: (
  'ice-cream': #0a8817,
  'ice-coffee': #997217,
  'milkshakes': #000000,
);
