<div class="franchise-modal js-modal" data-modal="franchise-modal">
  <button
    class="franchise-modal__btn modal-close-btn"
    type="button"
    data-modal-close
  >
    <svg class="franchise-modal__icon modal-close-btn-icon">
      <use href="./images/sprite.svg#modal-close-icon"></use>
    </svg>
  </button>
  <div class="franchise-modal__container">
    <p class="franchise-modal__text">
      Thank you for your interest in owning an Ice Cream shop
    </p>
  </div>
  <div class="franchise-modal__container--second">
    <p class="franchise-modal__text--paragraph">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>
  </div>
  <form name="contacts-modal-name" class="form">
    <div class="form-field__container">
      <div class="form-field">
        <label class="form-field__label" for="name">
          <span class="visually-hidden">Name</span>
          <span class="form-field__box">
            <input
              class="form-field__input"
              id="name"
              type="text"
              required
              autofocus
              placeholder="Name"
            />
          </span>
        </label>
      </div>
      <div class="form-field">
        <label for="tel">
          <span class="visually-hidden">Phone</span>
          <span class="form-field__box">
            <input
              class="form-field__input"
              id="tel"
              type="tel"
              name="phone"
              required
              placeholder="Phone"
            />
          </span>
        </label>
      </div>
      <div class="form-field">
        <label for="email-e">
          <span class="visually-hidden">Email</span>
          <span class="form-field__box">
            <input
              class="form-field__input"
              id="email-e"
              type="email"
              name="Email"
              placeholder="Email"
            />
          </span>
        </label>
      </div>
      <div class="form-field">
        <label for="comments">
          <span class="visually-hidden">Comment</span>
          <textarea
            class="form-field__textarea"
            placeholder="Comment"
            name="comments"
            id="comments"
            cols="30"
            rows="3"
          ></textarea>
        </label>
      </div>
    </div>
    <button class="form-field__button" type="submit">Submit</button>
  </form>
</div>
