<div class="location-modal js-modal" data-modal="location-modal">
  <button
    class="location-modal__btn modal-close-btn"
    type="button"
    data-modal-close
  >
    <svg class="location-modal__icon modal-close-btn-icon">
      <use href="./images/sprite.svg#modal-close-icon"></use>
    </svg>
  </button>

  <strong class="location-modal__title">Our locations</strong>
  <form action="location-modal__form">
    <div id="location-modal__map-wrapper">
      <iframe
        class="location-modal__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.793119620849!2d-87.78193454878787!3d41.70340157913462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2s10340%20Ridgeland%20Ave%2C%20Chicago%20Ridge%2C%20IL%2060415%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2spl!4v1671482461244!5m2!1sru!2spl"
        style="border:0;"
        allowfullscreen="" 
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </form>
  <form
    action="https://goo.gl/maps/Y84ejbQ12MqyjQiP8"
    target="_blank"
  >
    <button class="location-modal__btn-map">Open map</button>
  </form>
</div>
