<div class="about-modal js-modal" data-modal="about-modal">
  <button class="about-modal__btn" type="button" data-modal-close>
    <svg class="about-modal__icon" width="20" height="20">
      <use href="./images/sprite.svg#products-btn-icon"></use>
    </svg>
  </button>
  <h2 class="about-modal__title">How it’s made?</h2>
  <video
    class="about-modal__video"
    src="https://www.youtube.com/watch?v=nvU6H8SiKJc"
    width="224"
    height="199"
    controls
    preload="auto"
  ></video>
  <p class="about-modal__text">
    For the preparation of milkshakes, the constituent components are mixed in a
    mixer vessel. Milk is introduced first, then syrups. Whipping cocktails is
    carried out for 60 seconds at a stirrer rotation speed of 13,000 rpm.
    Prepared cocktails are immediately poured into glasses or glasses and
    released.
  </p>
</div>
