.buy-now-modal {
    @include position(center);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: 300ms;

  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 280px;
  height: calc(100vh - 40px);
  overflow-y: scroll;

  max-height: 991px;
  padding: 28px;
  background-color: getColor('basic-white');
  color: getColor('sec-black');
  border: 2px solid getColor('basic-yellow');
  border-radius: 10px;
  z-index: 50;

  @include mq(tablet) {
    max-width: 568px;
    width: 100%;
    max-height: 644px;
    padding: 32px 54px;
    text-align: center;
  }
}

.buy-now-modal__btn {
  @include flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 16px;
  right: 16px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  
}
.buy-now-modal__close-icon {
  fill: getColor('sec-black');
  width: 11px;
  height: 11px;

  @include mq(tablet) {
    width: 13px;
    height: 13px;
  }
}
.buy-now-modal__title {
    font-family: 'Seymour One';
  @include fonts($fw: 400, $fs: 16px, $lh: 24px);
  display: block;
  text-align: center;
  color: getColor('sec-black');
  margin-bottom: 20px;

  @include mq(tablet) {
    @include fonts($fw: 400, $fs: 20px, $lh: 28px);
  }
}
.buy-now-modal__list {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @include mq(tablet) {
    display: flex;
    gap: 32px;
    flex-direction: row;
  }
}

.buy-now-modal__item {
    @include flex;
    flex-direction: column;

    @include transitions (transform);

        &:hover {
    transform: scale(1.07);
  }
        &:focus {
    transform: scale(1.07);
  }
}


.buy-now-modal__img-shadow {
  max-width: 132px;
  width: 100%;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    getColor('modal-ingredients-icecream-white');
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.buy-now-modal__cofee-color {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.buy-now-modal__milkshake-color {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.buy-now-modal__img {
  border-radius: 50%;
  background-color: getColor('basic-white');

}

.buy-now-modal__circle-under-img {
  max-width: 132px;
  max-height: 132px;
  border-radius: 50%;
  margin-top: 7px;
  background-color: getColor('modal-ingredients-green');

}
.buy-now-modal__square {
  width: 132px;
  height: 136px;
  border-radius: 0 0 16px 16px;
  background: getColor('modal-ingredients-green');

  border: 2px solid getColor('modal-ingredients-green');
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  top: -80px;
  position: relative;
  z-index: -1;
}

.buy-now-modal__square-cofee-border {
    background: getColor('card-yellow');
    border: 2px solid getColor('card-yellow');
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    
}

.buy-now-modal__square-milkshake-border {
    background: getColor('basic-brown');
    border: 2px solid getColor('basic-brown');
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}

.buy-now-modal__product {
  @include fonts($fw: 700, $fs: 16px, $lh: 20px, $ls: 0.04em);
  display: block;
  text-align: center;
  z-index: 300;
  
  color: getColor('sec-black');
  text-transform: uppercase;
  padding-bottom: 20px;
}
.modal-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 224px;
  width: 100%;
  padding: 0 5px;
  margin-top: 30px;

  @include mq(tablet) {
    max-width: 368px;
    margin-top: 40px;
}}
.modal-form__field {
    margin-bottom: 16px;
}
.modal-form__name,
.modal-form__phone,
.modal-form__comments {
  display: block;
  width: 100%;
  height: 32px;
  padding: 8px 12px;
  border: 1px solid getColor('sec-green');
  background-color: rgba(248, 210, 78, 0.1);
  border-radius: 10px;
  margin-bottom: 12px;

  @include mq(tablet) {
    height: 42px;
}
}

.modal-form__comments {
  height: 65px;
  margin-bottom: 0;
  resize: none; 

  @include mq(tablet) {
    height: 84px;
    margin-bottom: 32px;
}
}

.modal-form__name,
.modal-form__phone,
.modal-form__comments {
    &::placeholder {
    @include fonts($fw: 400, $fs: 12px, $lh: 17px);
    color: getColor('sec-black');
  }

  &:focus,
  &:focus,
  &:focus {
    outline: none;
    border-color: getColor('ellipse-green');
    font-weight: 500;
  }

   @include mq(tablet) {
    @include fonts($fw: 400, $fs: 14px, $lh: 20px);
}

}

.modal-form__button {
  @include fonts($fw: 600, $fs: 14px, $lh: 17px);
  @include transitions(background-color);
  @include flex;
  color: getColor('sec-black');
  background-color: getColor('basic-yellow');
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  min-width: 114px;
  height: 42px;
  border: none;
  border-radius: 10px;

  &:focus {
    background-color: getColor('card-yellow');
  }
  &:hover {
    background-color: getColor('card-yellow');
  }

  @include mq(tablet) {
    min-width: 121px;
  }
}
