.backdrop {
    position: fixed;
    transition: opacity;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
    @include transitions (opacity, visibility);

      &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
  }
  


  .franchise-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: 674px;
    padding: 28px;
  
    background-color: getColor('basic-white');

    background: getColor('basic-white');
    border: 2px solid getColor('basic-yellow');
    border-radius: 10px;

    @media screen and (min-width:768px) {
   
      width: 568px;
      height: 668px;
      padding: 32px;
    
   
      
    }
  }
  
  
  .franchise-modal__btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: none;
    cursor: pointer;

    
    &:hover {
      fill: getColor('ellipse-green');
    }
    
    &:hover .franchise-modal__icon  {
      fill: getColor('ellipse-green');
    }
    
    
    &:focus .franchise-modal__icon  {
      fill: getColor('ellipse-green');
    } 

    @media screen and (min-width:768px) {
      width: 24px;
      height: 24px;
      
    }
      
  }
  
  .franchise-modal__icon {
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;

    @media screen and (min-width:768px) {
      width: 24px;
      height: 24px;
    
    }
  }

  .franchise-modal__container{
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .franchise-modal__container--second {
    display: flex;
    justify-content: center;
  }
  
  
 
  .franchise-modal__text {
    font-family: 'Seymour One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    width: 221px;
    height: 72px;

 
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: getColor('sec-black');
    margin-bottom: 20px;

    @media screen and (min-width:768px) {
      font-size: 20px;
      line-height: 1.4;
      width: 322px;
      height: 84px;
      margin-bottom: 24px;
      
    }
  }

  .franchise-modal__text--paragraph {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: getColor('sec-black');
    margin-bottom: 24px;

    width: 222px;
    height: 240px;

    @media screen and (min-width:768px) {
      font-size: 16px;
      line-height: 140%;
  
      width: 448px;
      height: 132px;
      margin-bottom: 32px;
  
      }

  }


  .form-field {
    display: flex;
    justify-content: center;
    align-items: center;


    &:not(:last-child) {
      margin-bottom: 12px;
    }

   @media screen and (min-width:768px) {

      &:not(:last-child) {
        margin-bottom: 16px;
      }
      
    }
  }
  
  .form-field__container {
    margin-bottom: 24px;

    @media screen and (min-width:768px) {
      margin-bottom: 32px;
      
    }
  } 
  
  

  .form-field__box{
    display: block;
    position: relative;
  }
  
  .form-field__input {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 224px;
    height: 32px; 
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid getColor('sec-green');
    border-radius: 10px;
    cursor: pointer;
  
    padding: 8px 12px;
    @include transitions (border-color);

    &:hover {
      border-color: getColor('ellipse-green');
    }
    
    &:hover + .form-field__icons {
      fill: getColor('ellipse-green');
    }
    
    &:focus {
      border-color: getColor('ellipse-green');
    }
    
    &:focus + .form-field__icons {
      fill:  getColor('ellipse-green');
      border-color:  getColor('ellipse-green');
    }

    &::placeholder {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: getColor('sec-black');
    }

    @media screen and (min-width:768px) {
      width: 368px;
      height: 42px;  
      padding: 11px 16px;
      
    }
  }
  
  
  .form-field__textarea {
    width: 224px;
    height: 64px; 
  

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid getColor('sec-green');
    border-radius: 10px;
   
    resize: none;
    cursor: pointer;
    padding: 8px 12px;

    &::placeholder {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: getColor('sec-black');
      }
      
      &:focus::placeholder {
        color: rgba(117, 117, 117, 0.5);
      }

      &:hover,
      &:focus {
        border-color: getColor('ellipse-green');
      }

      @media screen and (min-width:768px) {
        width: 368px;
        height: 84px;
        padding: 11px 16px;
        
      }
    
  }
  

  
  .placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: getColor('sec-black');

    @media screen and (min-width:768px) {
    font-size: 14px;
    line-height: 140%;
      
    }
  }


  .form-field__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 121px;
    height: 42px;
   
    background: getColor('basic-yellow');
    border-radius: 10px;
    border: none;
  
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;

    color: getColor('sec-black');
    cursor: pointer;

    padding: 12px 14px;
 
   @include transitions (color, box-shadow, background-color);

      &:hover {
        background-color: getColor('sec-green');
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: getColor('ellipse-green');
        border-radius: 10px;
        border-color: getColor('ellipse-green');
        color: getColor('sec-black');
      }
      
      &:focus {
        background-color: getColor('ellipse-green');
      }

      @media screen and (min-width:768px) {

        font-size: 14px;
        line-height: 1.21;
      }
      
  }
  
 
  
  
  
  
