<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">
      Our contacts and working hours
    </h2>
    <ul class="contacts__card-set">
      <li class="contacts__card-list">
        <strong class="contacts__work-place">CAFE</strong>
        <p class="contacts__town">Chicago</p>
        <address class="contacts__location-container">
          <a
            href="https://goo.gl/maps/bwNYbUgwWZVWSfuv7"
            class="contacts__location location__chicago"
            target="_blank"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <div class="contacts__schedule">
          <div class="contacts__schedule-first">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          </div>
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__navigation">
          <li class="contacts__navigation-tel">
            <a href="tel:+610383766284" class="contacts__tel"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__navigation-mail">
            <a href="mailto:noreply@envato.com" class="contacts__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card-list">
        <strong class="contacts__work-place">FOOD TRUCK</strong>
        <p class="contacts__town">Los Angeles</p>
        <address class="contacts__location-container">
          <a
            href="https://goo.gl/maps/TTxZi57sXgsWMKQP8"
            class="contacts__location location__los-angeles"
            target="_blank"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <div class="contacts__schedule">
          <div class="contacts__schedule-first">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          </div>
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__navigation">
          <li class="contacts__navigation-tel">
            <a href="tel:+610383766284" class="contacts__tel"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__navigation-mail">
            <a href="mailto:noreply@envato.com" class="contacts__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card-list">
        <strong class="contacts__work-place">CAFE</strong>
        <p class="contacts__town">New York</p>
        <address class="contacts__location-container">
          <a
            href="https://goo.gl/maps/Kg7s9QKz23yzQLbK9"
            class="contacts__location location__new-york"
            target="_blank"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <div class="contacts__schedule">
          <div class="contacts__schedule-first">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__hours">06:00 AM - 10:00 PM</p>
          </div>
          <p class="contacts__days">Saturday - Sunday</p>
          <p class="contacts__hours">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__navigation">
          <li class="contacts__navigation-tel">
            <a href="tel:+610383766284" class="contacts__tel"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__navigation-mail">
            <a href="mailto:noreply@envato.com" class="contacts__mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__btn-container">
      <button
        class="contacts__btn-locations"
        type="button"
        data-modal-open="about-modal"
      >
        Our Locations
        <svg class="contacts__btn-icon">
          <use href="./images/sprite.svg#icon-ep_arrow-right-bold"></use>
        </svg>
      </button>
      <button
        class="contacts__btn-franchise"
        type="button"
        data-modal-open="about-modal"
      >
        Franchise
        <svg class="contacts__btn-icon">
          <use href="./images/sprite.svg#icon-ep_arrow-right-bold"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
