<section class="gallery">
  <div class="gallery__container">
    <div class="swiper gallery__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../images/gallery/gallery-pic-1@1x.png" 
          alt="Ice cream image 1" 
          srcset="gallery-pic-1@1x.png 480w, gallery-pic-1@2x.png 800w"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw" />
        </div>
        <div class="swiper-slide">
          <img src="../images/gallery/gallery-pic-2@1x.png" 
          alt="Ice cream image 2"
          srcset="gallery-pic-2@1x.png 480w, gallery-pic-2@2x.png 800w"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px, 100vw" />
        </div>
      </div>
    </div>
  </div>
</section>
