<header class="header">
  <div class="header__container">
      <div class="logo">
          <a href="./index.html"><img src="./images/header/logo/Logo-min.png" alt="Logo" class="logo__img">
          </a>
          
      </div>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__items"><a class="nav__link" href="/">Home</a></li>
          <li class="nav__items nav__items-current"><a class="nav__link" href="/">How it's made</a></li>
          <li class="nav__items"><a class="nav__link" href="/">Our products</a></li>
          <li class="nav__items"><a class="nav__link" href="/">Contacts</a></li>
        </ul>
      </nav>
      <div
        class="burger-menu js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="burger-menu__icon">
          <use
            href="./images/header/burger/burger.svg#burger_icon"
            class="icon__burger"
          ></use>
        </svg>
      </div>
      <button type="button" class="buy__button">Buy now
          <svg class="buy__button-icon">
              <use href="./images/header/vector/buy_now-vector.svg#icon-vector"></use>
            </svg>
      </button>
  </div>
</header>

<div class="mob-menu js-menu-container">
  <div class="mob-menu__head">
    <div class="logo">
      <a href="./index.html"><img src="./images/header/logo/logo.png" alt="Logo" class="logo__img">
      </a>
    </div>
    <button class="mob-menu__close js-close-menu">
      <svg class="mob-menu__close-icon">
        <use
          href="./images/header/modal-close/modal_close-icon.svg#icon-modal_close-icon"
        ></use>
      </svg>
    </button>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__items"><a class="nav__link" href="/">Home</a></li>
      <li class="nav__items nav__items-current">
        <a class="nav__link" href="/">How it's made</a>
      </li>
      <li class="nav__items"><a class="nav__link" href="/" >Our products</a></li>
      <li class="nav__items"><a class="nav__link" href="/" >Contacts</a></li>
    </ul>
  </nav>
  <button class="buy__button">
    Buy now
    <svg class="buy__button-icon">
      <use href="./images/header/vector/buy_now-vector.svg#icon-vector"></use>
    </svg>
  </button>
</div>