<header class="header" id="home">
  <div class="header__container">
    <div class="logo">
      <a href="#home"
        ><img class="logo__img" src="images/header/logo.png" alt="Logo" />
      </a>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__items"><a class="nav__link" href="/">Home</a></li>
        <li class="nav__items nav__items-current">
          <a class="nav__link" href="/">How it's made</a>
        </li>
        <li class="nav__items">
          <a class="nav__link" href="/">Our products</a>
        </li>
        <li class="nav__items"><a class="nav__link" href="/">Contacts</a></li>
      </ul>
    </nav>
    <div
      class="burger-menu js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-menu__icon">
        <use href="./images/sprite.svg#burger_icon" class="icon__burger"></use>
      </svg>
    </div>
    <button type="button" class="buy__button">
      Buy now
      <svg class="buy__button-icon">
        <use href="./images/sprite.svg#icon-vector"></use>
      </svg>
    </button>
  </div>
</header>
