<header class="header">
  <div class="logo">
    <img
      src="./images/header/logo/Frame 10-min.png"
      alt="Logo"
      class="logo__img"
    />
  </div>
  <!-- <nav class="nav">
      <ul class="nav__list">
        <li class="nav__items"><a href="/">Home</a></li>
        <li class="nav__items"><a href="/">How it's made</a></li>
        <li class="nav__items"><a href="/">Our products</a></li>
        <li class="nav__items"><a href="/">Contacts</a></li>
      </ul>
    </nav> -->
  <div
    class="burger-menu js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    <svg class="burger-menu__icon">
      <use
        href="./images/header/burger/burger.svg#burger_icon"
        class="icon__burger"
      ></use>
    </svg>
  </div>
  <!-- <button type="button" class="buy__button"></button> -->
</header>

<div class="mob-menu js-menu-container">
  <div class="mob-menu__head">
    <div class="logo">
      <img
        src="./images/header/logo/Frame 10-min.png"
        alt="Logo"
        class="logo__img"
      />
    </div>
    <button class="mob-menu__close js-close-menu">
      <svg class="mob-menu__close-icon">
        <use
          href="./images/header/modal-close/modal_close-icon.svg#icon-modal_close-icon"
        ></use>
      </svg>
    </button>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__items"><a href="/">Home</a></li>
      <li class="nav__items nav__items-current">
        <a href="/">How it's made</a>
      </li>
      <li class="nav__items"><a href="/">Our products</a></li>
      <li class="nav__items"><a href="/">Contacts</a></li>
    </ul>
  </nav>
  <button class="buy__button">
    Buy now
    <svg class="buy__button-icon">
      <use href="./images/header/vector/buy_now-vector.svg#icon-vector"></use>
    </svg>
  </button>
</div>
