<section class="hero">
    <div class="hero_container hero_bgr">
        <div class="hero__heading">
            <h1>ice cream</h1> 
            <p>made with <span>passion</span></p>
        </div>

        <div class="hero_wrap">
            <button class="hero__btn" onclick="window.location.href = '#products';">Products</button>
            <a class="hero__link" href="#about">How it’s made?</a>
        </div>

        <div class="hero__presentation">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            <svg class="icon">
                <use href="images/hero/sprite-icon.svg#arrow"></use>
            </svg>
        </div>

        <ul class="hero__service">
            <li class="service_number">16</li>
            <li class="service_type">cafes</li>
            <li class="service_number">23</li>
            <li class="service_type">food trucks</li>
        </ul>
    </div>
</section>