<div class="mob-menu js-menu-container">
  <div class="mob-menu__head">
    <div class="logo">
      <a href="./index.html">
        <img class="logo__img" src="./images/header/logo.png" alt="Logo" />
      </a>
    </div>
    <button class="mob-menu__close js-close-menu">
      <svg class="mob-menu__close-icon">
        <use href="./images/sprite.svg#icon-modal_close-icon"></use>
      </svg>
    </button>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#home" data-menu-link>Home</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#about" data-menu-link>How it's made</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#products" data-menu-link>Our products</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#contacts" data-menu-link>Contacts</a>
      </li>
    </ul>
  </nav>
  <button class="buy__button">
    Buy now
    <svg class="buy__button-icon">
      <use href="./images/sprite.svg#icon-vector"></use>
    </svg>
  </button>
</div>
