<section class="reviews">
  <div class="container reviews__container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviewer__card">
          <img
            class="reviewer__photo"
            src="/src/images/reviews/first_reviewer@1x.jpg"
            alt=""
            srcset="
              /src/images/reviews/first_reviewer@1x.jpg 1x,
              /src/images/reviews/first_reviewer@2x.jpg 2x
            "
          />
          <div class="reviewer__comment">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </div>
          <p class="reviewer__name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide reviewer__card">
          <img
            class="reviewer__photo"
            src="/src/images/reviews/second_reviewer@1x.jpg"
            alt=""
            srcset="
              /src/images/reviews/second_reviewer@1x.jpg 1x,
              /src/images/reviews/second_reviewer@2x.jpg 2x
            "
          />
          <div class="reviewer__comment">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </div>
          <p class="reviewer__name">Bryan, New-York</p>
        </div>
        <div class="swiper-slide reviewer__card">
          <img
            class="reviewer__photo"
            src="/src/images/reviews/third_reviewer@1x.jpg"
            alt=""
            srcset="
              /src/images/reviews/third_reviewer@1x.jpg 1x,
              /src/images/reviews/third_reviewer@2x.jpg 2x
            "
          />
          <div class="reviewer__comment">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </div>
          <p class="reviewer__name">Diana, Chicago</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
