.about {
    padding-top: 61px;
}

.about__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.about__question {
    font-family: Seymour One;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 32px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .about__question {
        max-width: 200px;
    }

    .about__content-three {
    display: none;
}
}

.about-picture {
    margin-bottom: 40px;  
}

.about__content-one {
    font-size: 12px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.04em;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 4px;
}

.about__content-two {
    font-size: 12px;
    line-height: 1.6;
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 10px;
}



.about__btn {
    font-family: Montserrat;
    width: 164px;
    height: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8D24E;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;

&:hover,
&:focus {
    background-color: #0A8817;
}
}

.about__btn-icon {
    width: 12px;
    height: 12px;
    margin-left: 8px;
}

@media screen and (min-width: 768px) {
    .about__title {
         font-weight: 800;
         font-size: 22px;
         line-height: 1.2;
    }

    .about__question {
        font-size: 34px;
        line-height: 1.3;
        letter-spacing: 0.06em;   
    }

    .about__picture-container {
        display: flex;
        justify-content: center;
        gap: 38px;
        align-items: center;
    }

    .about__content-one,
    .about__content-two {
        max-width: 334px;
        text-align: inherit;
    }

    .about__content-three {
        font-size: 12px;
        line-height: 1.9;
        letter-spacing: 0.04em;
        max-width: 336px;
        margin-bottom: 32px;
    }

    .about__btn {
        margin-left: inherit;
    }
}

@media screen and (min-width: 1200px) {
    .about__title {
        font-size: 30px;
        line-height: 1.2;
    }

    .about__question {
        font-size: 36px;
        line-height: 1.3;
    }
    
    .about__picture-container {
        gap: 109px;
    }

    .about__content-one {
        font-size: 16px;
        line-height: 1.8;
        max-width: 463px;
    }

    .about__content-two,
    .about__content-three {
        font-size: 14px;
        line-height: 1.9;
        max-width: 463px;
    }
}