.footer {
  @include container;  
  background-color: getColor('sec-green');
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.footer__slogan-above {
@include fonts($fw: 700, $fs: 18px, $lh: 22px, $ls: 0.04em);
  text-transform: uppercase;
  max-width: 232px;
  color: getColor('basic-white');

  @media screen and (min-width: 768px) {
    @include fonts($fw: 700, $fs: 26px, $lh: 32px, $ls: 0.04em);
    max-width: 352px;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    @include fonts($fw: 400, $fs: 30px, $lh: 37px, $ls: 0.04em);
    max-width: 504px;
    margin-bottom: 14px;
  }
}

.footer__slogan-under {
  @include fonts($fw: 700, $fs: 34px, $lh: 41px, $ls: 0.04em);
  text-transform: uppercase;
  max-width: 200px;
  margin-top: 16px;
  margin-bottom: 60px;
  color: getColor('basic-white');

  @media screen and (min-width: 768px) {
    @include fonts($fw: 700, $fs: 48px, $lh: 59px, $ls: 0.06em);  
    max-width: 352px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    @include fonts($fw: 700, $fs: 58px, $lh: 71px, $ls: 0.06em);
    max-width: 504px;
    margin-bottom: 60px;
  }
}

.footer__call-text {
  @include fonts($fw: 700, $fs: 12px, $lh: 22px, $ls: 0.02em);  
  color: getColor('sec-black');
  margin-bottom: 40px;
  display: flex;
  justify-content: end;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 60px;
  }
}

.footer__tel {
  @include fonts($fw: 700, $fs: 12px, $lh: 22px, $ls: 0.02em);
  margin-left: 3px;
  color: getColor('basic-white');

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.footer__copyright {
  border-top: 1px solid getColor('dirty-white');
}

.footer__copyright-text {
  @include fonts($fw: 700, $fs: 14px, $lh: 21px, $ls: 0.02em);  
  text-align: center;
  color: getColor('sec-grey');
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    line-height: calc(26 / 14);
    padding-top: 12px;
    padding-bottom: 12px;
    & br {
      display: none;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 34px;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.socials-item {
  @include transitions (transform);
  background-color: getColor('basic-yellow');
  border-radius: 50%;
  width: 34px;
  height: 34px;

  &:hover {
    transform: scale(calc(32/34));
  }
  &:focus {
    transform: scale(calc(35/34));
  }

}

.socials__link {
  @include flex;
  @include transitions (fill);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: getColor('sec-green');

  &:hover {
    fill: getColor('basic-white');
  }
  &:focus {
    fill: getColor('basic-white');
  }
}

@media screen and (min-width: 768px){
  
  .footer__slogan {
    flex: 50%;
  }

  .footer__contacts {
    flex: 50%;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px){
  
  .footer__slogan {
    flex: 50%;
  }
  .footer__contacts {
    flex: 50%;
    padding-top: 18px;
  } 
}