.gallery {
    @include section-indent;
    box-sizing: border-box;
    background-image: url(../src/images/gallery/backgroud_mobile.jpg);
}

.container {
    @include container;
}

.swiper {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

// .swiper-wrapper {
//     margin-left: 20px;
//     margin-right: 20px;
// }

.swiper-slide {
    margin-top: -98px;
}

.swiper-slide img {
    width: 280px;
    height: 130px;
    border-radius: 8px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 768px) {
    .swiper-slide img {
    width: 280px;
    height: 130px;
    border-radius: 8px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
} 
}
