// .hero {
//   h1,
//   p,
//   ul,
//   li,
//   a,
//   button {
//     padding: 0;
//   }
// }

// .visually-hidden {
//   position: absolute;
//   white-space: nowrap;
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   border: 0;
//   padding: 0;
//   clip: rect(0 0 0 0);
//   clip-path: inset(50%);
//   margin: -1px;
// }

// %cursor {
//     cursor: url('../images/hero/cursor.png') 0 0,
//             url('../images/hero/cursor.cur') 0 0,
//             pointer;
// }

/* миксин для стилизации кнопок */
// @mixin buttons(
//   $width-btn: 108px,
//   $font-size-btn: 14px,
//   $backgr-color: getColor('basic-yellow')
// ) {
//   width: $width-btn;
//   height: 42px;
//   font: inherit;
//   color: getColor('sec-black');
//   font-weight: 600;
//   font-size: $font-size-btn;
//   line-height: 1.28;
//   border-radius: 10px;
//   border-color: transparent;

//   &:focus {
//     color: getColor('sec-white');
//   }
//   &:focus-visible {
//     outline: none;
//   }

//   @if ($backgr-color == getColor('basic-yellow')) {
//     background-color: getColor('basic-yellow');
//     border: none;

//     &:hover,
//     &:focus {
//       background-color: getColor('ellipse-green');
//     }

//     &:disabled {
//       background-color: getColor('basic-grey');
//     }
//   } @else {
//     background-color: transparent;
//     border: 2px solid getColor('basic-yellow');

//     &:hover,
//     &:focus {
//       border-color: getColor('ellipse-green');
//     }

//     &:disabled {
//       border-color: getColor('basic-grey');
//     }
//   }
// }

.hero_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 46px;

  @media screen and (max-width: 479px) {
    max-width: 479px;
    padding-bottom: 77%;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
    padding-bottom: 357px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 768px;
    height: 349px;
    padding-top: 12px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    background: url('../images/hero/hero-desk.png') bottom left 57%/55% auto
        no-repeat,
      url('../images/hero/points-desk.svg') bottom left/1200px 384px no-repeat;
  }
}

.hero_bgr {
  background-repeat: no-repeat;

  @media screen and (max-width: 479px) {
    background-position: bottom left 57%, bottom left;
    background-size: 55% auto, 100% auto;
    background-image: url('../images/hero/hero-mobile.png'),
      url('../images/hero/points-mobile.svg');
    @media (-webkit-device-pixel-ratio: 2), (min-reolution: 2dppx) {
      background-image: url('../images/hero/hero-mobile2x.png'),
        url('../images/hero/points-mobile.svg');
    }
  }

  @media screen and (min-width: 480px) {
    background-position: bottom left 57%, bottom left;
    background-size: 256px auto, 480px 75px;
    background-image: url('../images/hero/hero-tablet.png'),
      url('../images/hero/points-mobile.svg');
    @media (-webkit-device-pixel-ratio: 2), (min-reolution: 2dppx) {
      background-image: url('../images/hero/hero-tablet2x.png'),
        url('../images/hero/points-mobile.svg');
    }
  }

  @media screen and (min-width: 768px) {
    background-position: bottom left 408px, bottom 12px left 36px, bottom left;
    background-size: 268px auto, 152px, 768px 69px;
    background-image: url('../images/hero/hero-tablet.png'),
      url('../images/hero/dish-tablet.png'),
      url('../images/hero/points-tablet.svg');
    @media (-webkit-device-pixel-ratio: 2), (min-reolution: 2dppx) {
      background-image: url('../images/hero/hero-tablet2x.png'),
        url('../images/hero/dish-tablet2x.png'),
        url('../images/hero/points-tablet.svg');
    }
  }
}

// Components

.hero {
  width: 100%;
}

.hero__heading {
  width: 247px;
  font-family: 'Seymour One', 'Arial Black', sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }

  h1 {
    font-size: 26px;
    line-height: 1.26;
    margin-bottom: 5px;
  }

  p {
    line-height: 1;

    span {
      font-size: 33px;
    }
  }
}

.hero_wrap {
  width: 247px;

  @media screen and (min-width: 768px) {
    margin-bottom: 39px;
  }
}

.hero__btn {
  @include buttons(108px, 12px, transparent);
  @extend %cursor;
  margin-right: 12px;

  @media screen and (min-width: 768px) {
  }

  // @media screen and (max-width: 1200px) {
  //     width: 120px;
  // }
}

.hero__link {
  color: getColor('basic-yellow');
  font-size: 12px;
  line-height: 1.26;
  text-decoration: underline;
  vertical-align: baseline;
  @extend %cursor;

  &:hover {
    color: getColor('ellipse-green');
  }

  &:focus {
    color: getColor('basic-white');
  }

  &:disabled {
    color: getColor('basic-grey');
  }
}

.hero__presentation {
  width: 139px;
  height: 125px;
  font-size: 12px;
  margin-left: 184px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  .icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    color: getColor('basic-white');
  }
}

.hero__service {
  width: 46px;
  list-style: none;
  align-self: flex-end;
  margin-top: 16px;

  .service_number {
    color: getColor('sec-black');
    font-weight: 900;
    font-size: 28px;
    line-height: 1.36;
  }

  .service_type {
    color: getColor('basic-white');
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

// body {
//     font-family: Montserrat, Arial, Helvetica, sans-serif;
//     color: $text-black;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.75;
//     letter-spacing: 0.04em;
//     background-color: $backgr-page-and-reviews;
// }
