.products {
  @include section-indent;
  color: getColor('sec-black');
}

.products__container {
  @include container;
  text-align: center;
}

.products__label {
  @include fonts($fw: 800, $fs: 18px, $lh: 22px, $tt: uppercase);

  margin-bottom: 12px;
}

.products__title {
  @include fonts($fs: 30px, $lh: 38px, $tt: uppercase);

  margin-bottom: 148px;

  font-family: 'Seymour One' sans-serif;
}

.products__list {
  @include card-set($indentX: 168px);

  @include mq(tablet) {
    @include card-set(3, 168px, 16px);
  }

  @include mq(desktop) {
    @include card-set(3, 168px, 29px);
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  padding: 123px 40px 16px 40px;
  border-radius: 24px;
  transition: transform 300ms ease-in-out;

  @include mq(tablet) {
    padding: 108px 26px 12px;
    border-radius: 16px;

    &:hover {
      transform: translateY(-30px);

      &::after {
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }

  @include mq(desktop) {
    padding: 165px 64px 60px;
  }

  &::after,
  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transition: transform 300ms ease-in-out;
  }

  &::after {
    transform: translateY(calc(#{-50%} - 11px)) translateX(-50%);
  }

  &::before {
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
  }
}

@each $product in ice-cream, ice-coffee, milkshakes {
  .products__item--#{$product} {
    background-color: map-get($bg-colors, $product);

    &::after {
      background-image: url(../images/products/#{$product}-320@1x.png);

      @include mq(retina) {
        background-image: url(../images/products/#{$product}-320@2x.png);
      }

      @include mq(desktop) {
        background-image: url(../images/products/#{$product}-1200@1x.png);
        @include mq(retina) {
          background-image: url(../images/products/#{$product}-1200@2x.png);
        }
      }
    }

    &::before {
      background-color: map-get($bg-colors, $product);
      box-shadow: 0px 5px 20px rgba(map-get($shadow-colors, $product), 0.25);
    }
  }
}

.products__subtitle {
  margin-bottom: 40px;
  @include fonts($fw: 700, $fs: 20px, $lh: 24px, $tt: uppercase);
  @include mq(tablet) {
    @include fonts($fs: 22px, $lh: 27px);
  }
  @include mq(desktop) {
    @include fonts($fs: 30px, $lh: 37px);
    margin-bottom: 66px;
  }
}
.products__text {
  margin-bottom: 50px;
  @include fonts($lh: 25px, $cl: #131313);

  @include mq(desktop) {
    @include fonts($fs: 16px, $lh: 28px);
  }
}
.products__btn {
  margin-top: auto;
}
